*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.pt binary
*.onnx binary
*.engine binary

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.bat text eol=crlf
.gitattributes text eol=lf
